* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-family: Helvetica, sans-serif;
}

@media screen and (min-width: 560px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 559px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 1060px) {
  body {
    background-color: #65743d;
    color: white;
  }

  #portfolio-links h5 a {
    color: #ecd2dd;
  }

  #portfolio-links h5 a:hover {
    color: #c98997;
  }
}

@media screen and (max-width: 1059px) {
  body {
    background-color: white;
    color: #65743d;
  }

  #portfolio-links h5 a {
    color: #65743d;
  }

  #portfolio-links h5 a:hover {
    color: #2e4820;
  }
}

/*-----------------------------------------------------------------------------------------------------------*/
/*style for sidebar on screen*/
.sidenav {
  height: 100vh;
  width: 37vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 3px solid #c98997;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-image: url(../images/cv-photo2.png);
  background-position: center;
  background-size: cover;
  margin-left: -1em;
  /* padding-top: 20px; */
}

.main {
  margin-left: 37vw;
  /* Same as the width of the sidenav */
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-width: 1059px) {
  .sidenav {
    display: none;
  }

  .main.container {
    margin-left: 0;
  }
}

/*style for sidebar on screen*/
/*-------------show and hide git hub link*/
.toggle {
  display: none;
}

/*-------------show and hide git hub link*/
/*container*/
.container {
  max-width: 100%;
  margin-left: 37vw;
  margin-right: 1em;
  height: auto;
  text-align: center;
}

/*container*/
@media screen and (max-width: 1059px) {
  .each-couple-links h5 a {
    font-size: 1rem;
  }
}

.main.container h2 {
  text-shadow: 1.25px 1.25px #625340;
}

#mihaela-gabriela {
  margin-top: 1.5em;
}

@media screen and (max-width: 1059px) {
  #aco {
    margin-bottom: 1.5em;
  }
}

@media screen and (min-width: 1060px) {

#title-hr{
  display:flex;
  align-self: center;
  justify-content: center;
}

  hr {
    height: 0.15em;
    width: 33%;
    background-color: #c98997;
    box-shadow: 1.25px 1.25px #625340;
  }
}

@media screen and (max-width: 1059px) {
  hr{
    display:none;
  }
}

/*--------------------------------------------------------------------mobile-display photo*/
@media screen and (min-width: 1060px) {
  #mobile-display {
    display: none;
  }
}

@media screen and (max-width: 1059px) {
  #mobile-display {
    box-shadow: 0.5px 0.5px 1.5px 1.5px #625340;
    height: 70vh;
    width: 100%;
    border-radius: 40px 7px 40px 7px;
    background-repeat: no-repeat;
    background-image: url(../images/cv-photo2.png);
    background-position: center;
    background-size: cover;
  }
}

/*--------------------------------------------------------------------mobile-display photo*/
.main.container h3 {
  color: #c98997;
  margin: 1.5em;
  text-shadow: 1.25px 1.25px #625340;
}

/*---------------------------------------------------------------button github*/
.each-couple-links button {
  padding: 0.5em 1em;
  margin: 1.5em;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5em;
  font-size: 1rem;
  transition: 0.5s;
}

@media screen and (max-width: 1059px) {
  .each-couple-links button {
    color: #65743d;
    box-shadow: 0.5px 0.5px 1.5px 1.5px #625340;
    border-radius: 15px 5px 15px 5px;
  }
}

@media screen and (min-width: 1060px) {
  .each-couple-links button {
    color: white;
    border-radius: 15px;
  }
}

.each-couple-links button:hover {
  background-color: #c98997;
  color: white;
}

@media screen and (min-width: 560px) {
  .personal-contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .personal-contact {
    display: block;
  }
}

@media screen and (min-width: 1060px) {
  .personal-contact ion-icon {
    font-size: 2.5rem;
  }

  .personal-contact ion-icon:hover {
    color: #c98997;
  }
}

@media screen and (max-width: 1059px) {
  .personal-contact ion-icon {
    font-size: 2.5rem;
  }

  .personal-contact ion-icon:hover {
    color: #c98997;
  }
}

/*---------------------------------------------------------------button github*/
/**/
.center-display{
  display: flex;
  text-align: center;
  justify-content: center;
}

.before-and-h3-and-after{
  display: flex;
  text-align: center;
  justify-content: center;
}
/*before-h3*/
.before-h3{
  height: 17px;
  width: 17px;
  /* background-color: white; */
  border-radius: 50%;
  margin-right:1em;
  box-shadow: 1.25px 1.25px #625340;
}

@media screen and (min-width: 1060px) {
  .before-h3{
    height: 17px;
    width: 17px;
    background-color: #c98997;
    border-radius: 50%;
    margin-top:2.3em;
    margin-right:0.5em;
  }
}

@media screen and (max-width: 1059px) {
  .before-h3{
    height: 17px;
    width: 17px;
    background-color: #c98997;
    border-radius: 50%;
    margin-top:2.3em;
    margin-right:0.5em;
  }
}

@media screen and (max-width: 559px) {
  .before-h3{
    height: 10px;
    width: 10px;
    background-color: #c98997;
    border-radius: 50%;
    margin-top:2.5em;
    margin-right:0.5em;
  }
}
/*beforeh3*/

/*after-h3*/
.after-h3{
  height: 17px;
  width: 17px;
  /* background-color: #c98997; */
  border-radius: 50%;
  margin-left:1em;
  box-shadow: 1.25px 1.25px #625340;
}

@media screen and (min-width: 1060px) {
  .after-h3{
    height: 17px;
    width: 17px;
    background-color: #c98997;
    border-radius: 50%;
    margin-top:2.3em;
    margin-left:0.5em;
  }
}

@media screen and (max-width: 1059px) {
  .after-h3{
    height: 17px;
    width: 17px;
    background-color: #c98997;
    border-radius: 50%;
    margin-top:2.3em;
    margin-left:0.5em;
  }
}

@media screen and (max-width: 559px) {
  .after-h3{
    height: 10px;
    width: 10px;
    background-color: #c98997;
    border-radius: 50%;
    margin-top:2.5em;
    margin-left:0.5em;
  }
}

/*after-h3*/

/*modifica culoare si la hover*/
@media screen and (min-width: 1060px) {
  .before-h3:hover{
  background-color: white;
  }

  .after-h3:hover{
  background-color: white;
  }
}

@media screen and (max-width: 1059px) {
  .before-h3:hover{
  background-color: #65743d;
  }

  .after-h3:hover{
  background-color: #65743d;
  }
}
